

body {
    padding: 1vw;
    font-family: Garamond, serif;
    line-height: 1.25;
    font-size: 1vw;
    width: 100%;
    background-color: #FFFAFA;
}

h1,
h2,
h3,
nav, footer {
    text-align: center;
    padding: 1vw
}



nav {
    margin-bottom: 1vw;
    border-top: double;
    border-bottom: double;
    padding: 1vw;
}

a {
    color: black;
    font-size: 1.5vw;
    font-weight: bold;
}


h2 {
    padding: 1vw;
}

h3 {
    padding: 1vw;
    }

#details {
    padding: 2vw;
    margin: 1vw;
    text-align: center;
}


.column {
    float: left;
    width: 50%;
    padding: 5%;
}



.row {
    content: "";
    display: table;
    clear: both;
    text-align:center;
}

.grid-container {
    display: grid;
    grid-template-columns: auto auto;
    padding: 5%;
}
.grid-item {
    border: none;
    padding: 5%;
    font-size: 30px;
    text-align: center;
    max-width: 100%;
  height: auto;
}

 img {
  max-width: 100%;
  height: auto;
  }
  


footer {
    border-top: 1.5px solid black;
    padding-top: 1vw;
    margin-top: 1vw;
    text-align: center;
}

.copyright {
    width: 50%;
    margin: auto;
}

.copyright_logos,
.copyright_text {
    display: inline;
}

.copyright_logo {
    width: 1vw;
    margin: .15vw;
}

