* {
  box-sizing: border-box;
}

/* For mobile phones: */
[class*="col-"] {
  width: 100%;
}

body {
	padding: 1vw;
	font-family: 'Palatino','Palatino Linotype','Palatino LT STD','Book Antiqua','Georgia,serif';
	line-height: 1.25;
	font-size: 5vw;
  width: 100%;
	}

.header {
  background-color: #e7977f;
  color: white;
}
#subtitle {display: none;}

#details{
    margin: 1vw;
    padding: 1.5vw;
    border: 1px solid black;
    text-align: center;
}

#search-box {
	font-size: 5vw;
	font-family: 'Palatino','Palatino Linotype','Palatino LT STD','Book Antiqua','Georgia,serif';
  width: 100%;
  border: 1px solid black;
  padding: 1em;
}
#search-button {
  width: 100%;
  background-color: #e7977f;
  padding: 1em;
  color: white;
  }

#search-results {
  margin-top: 1em;
}

#sitenav {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 21vw;
  text-align: center;
  padding: 3vw;
  background-color: white;
  z-index: 2;
}

.nav-item {
	padding: 12px;
	margin: 5px;
	text-align: center;
  font-size: 5vw;
}

.nav-item-text {
  display: none;
}

#paginatornav {
   margin: 1vw;
   display: flex;
   align-items: center;
   justify-content: center;
}

li.page-item {
  color: #E27D60;
}

li.page-item.active {
  background-color: black;
}

#navbarfiller {
  display: block;
  height:22vw;
  width:100%;
  clear:both;
}

.affiliation_logo {
  height: 7vw;
  margin:.15vw;
}
.copyright {
  display: none;
}

#Cats {
  display: none;
}

.definition {
  padding-left: 1vw;
  padding-right: 1vw;
  padding-top: .25vh;
  padding-bottom: 1vh;
  border-top: 1px solid #cccccc;
  border-left: 1px solid #cccccc;
  border-right: 1px solid #cccccc;
  -webkit-border-top-left-radius: 5px;
  -webkit-border-top-right-radius: 5px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.reference {
  text-align: right;
}

.creditsbar {
  text-align: center;
  background-color: #ededed;
  -webkit-border-bottom-left-radius: 5px;
  -webkit-border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  font-family: monospace;
  font-size: smaller;
}


p.bibliography {
  text-indent:-2vw;
  padding-left:2vw;
  text-align:left;

  /* CSS rules to prevent overflow of long AF URL on the bibliography page */
  /* WARNING: they also break other words in the bibliography, find another solution if this is becomes prohibitive */

  /* These are technically the same, but use both */
  overflow-wrap: break-word;
  word-wrap: break-word;

  -ms-word-break: break-all;
  word-break: break-word;

}

pre {
	background-color: rgba(71,178,163,0.25);
	border-radius: 5px;
	padding: 5px;

	/* vertical scrollbar if pre-div overflows */
    overflow: auto;
    word-break: normal !important;
    word-wrap: normal !important;
    white-space: pre !important;
}

code{
	font-size: 4vw;
	color: #c38d9e;
}

figure {
	max-width:100%;
	margin: 0;
	font-size: 3vw;
	text-align: center;
	color: #808080;
}


a {
	text-decoration:  none;
	color: #E27D60;
}

a:hover {
	color: #c38d9e;
}

#content {
	padding: 5px;
	text-align: justify;
}

h2 {
	font-size: 1.5vw;
}

h3 {
  font-weight: bold;
}

h4 {
	color: #41B3A3;
}

strong {
	color: #41B3A3;
}

.flex-container {
	display: flex;
	flex-direction: row;
	justify-content: center;
}

.row::after {
  content: "";
  clear: both;
  display: table;
}

img {
  max-width: 100%;
  height: auto;
}

.current {
  	color: black;
	text-align: center;
}
